{% extends "base.html.twig" %}

{% block main %}
	<form method="post">
		<div class="form-row align-items-center">
			<div class="col-3">
				<label class="sr-only" for="inlineFormInput">Choissisez un chiffre :</label>
				<input name="value" type="text" class="form-control mb-2" placeholder="Votre chiffre">
				<input name="winValue" type="hidden" value="{{ winValue }}">
				<input name="try" type="hidden" value="{{ try }}">
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-primary mb-2">Submit</button>
			</div>
		</div>
	</form>

	{{ message }}
{% endblock %}

